<h1><%= t "sample_app" %></h1>

<p><%= t("hi") %> <%= @user.name %>,</p>
<p><%= t "click_link_to_active" %></p>
<%= link_to t("activate"), edit_account_activation_url(id: @user.activation_token,
                                                    email: @user.email) %>
